:root {
  --bg-main-color: linear-gradient(
    90deg,
    rgb(198, 248, 255),
    rgb(111, 237, 253),
    rgb(132, 210, 255),
    rgb(64, 195, 255)
  );
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background: var(--bg-main-color);
}

/* CALCULATOR */

.container {
}
