:root {
  --bg-main-color: linear-gradient(135deg, rgb(202, 255, 186), gray);
  --bg-calculator-color: rgb(115, 118, 122);
  --bg-display-color: rgb(120, 206, 138);

  /* BORDERS */

  --border-color: #000;

  /* BUTTONS */

  --btn-bg: #eee;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background: var(--bg-main-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CALCULATOR */

.container {
  width: auto;
  height: auto;
  border: 3px solid var(--border-color);
  border-radius: 7px;
  padding: 20px;
  background-color: var(--bg-calculator-color);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.btn {
  width: 5rem;
  height: 5rem;
  font-size: 27px;
  background-color: var(--btn-bg);
  border: 2px solid var(--border-color);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-out;
  padding: 0px;
}

.btn:hover {
  background-color: #ccc;
  transition: 0.2s ease-out;
}

.display {
  border: 2px solid var(--border-color);
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: right;
  background: var(--bg-display-color);
}

.previous-number {
  font-size: 25px;
  margin: 0 0 10px 0;
  height: 33px;
}

.current-number {
  font-size: 35px;
  margin: 10px 0 0 0;
  height: 42px;
}

.operator:hover {
  background-color: rgb(170, 255, 255);
  transition: 0.2s ease-out;
}

.equal {
  grid-column: 3/5;
  width: 164px;
}

.clear-all:hover {
  background-color: rgb(255, 134, 90);
  transition: 0.2s ease-out;
}

.clear:hover {
  background-color: rgb(255, 255, 175);
  transition: 0.2s ease-out;
}

.equal:hover {
  background-color: lightgreen;
}
